/* This is a CSS comment. Comments are ignored by the browser */

/* Use CSS selectors and rules to style your portfolio page */
body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: wheat;
  padding: 0;
  margin: 0;
}

.sticky {
  position: sticky;
  top: 0;
}

.medium {
  font-size: 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  background-color: orange;
  padding: 10px;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
}

.content {
  margin-left: 8px;
}

th, td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.btn {
  padding: 8px 15px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  margin: 10px 0px;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}